.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-radius: 20px;

}

button{
    color:beige;
    border-radius: 5px;
}